* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f5f7fa;
}

.container {
    display: flex;
    height: 100vh;
}

.form-section {
    width: 40%;
    padding: 60px;
    background: #fff;
}

.info-section {
    width: 60%;
    background: linear-gradient(135deg, #a8dadc, #cdeac0);
    color: #034732;
    padding: 80px;
}

h1 {
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    margin-bottom: 30px;
}

.role-toggle {
    display: flex;
    gap: 15px;
}

.role-toggle button {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    background: #eee;
    border-radius: 10px;
    margin-right: 15px;
}

.role-toggle .active {
    background: #2563eb;
    color: #fff;
}

form label {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 600;
}

form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 16px;
    border: 2px solid #d4e5f7;
    outline: none;
    box-shadow: 0 4px 12px rgba(74, 144, 217, 0.1);
}

form input:focus {
    border-color: #4a90d9;
    box-shadow: 0 0 0 3px rgba(74, 144, 217, 0.2);
}


.submit-btn {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background: #2563eb;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 16px;
}

.submit-btn:hover {
    background: #1339a1;
}

.submit-btn:focus {
    outline: 3px solid rgba(37, 99, 235, 0.3);
}

.login-text {
    margin-top: 20px;
    font-size: 14px;
}

.login-text a {
    color: #2563eb;
    text-decoration: none;
}

.info-section h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.stats {
    display: flex;
    gap: 40px;
}

.stats div strong {
    font-size: 24px;
    display: block;
}

#specialization {
    width: 100%;
    padding: 14px 16px;
    margin-top: 8px;
    border: 2px solid #d4e5f7;
    border-radius: 16px;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    background-size: 18px;
}

#specialization:hover {
    border-color: #a8c8e8;
}

#specialization:focus {
    border-color: #4a90d9;
    background: #ffffff;
    outline: none;
}

#specialization option {
    padding: 12px;
    background: #fff;
    color: #3a5a7c;
}

#doctorForm {
    display: none;
}

/* Make It Responsive */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .form-section,
    .info-section {
        width: 100%;
        padding: 40px;
    }

    .info-section {
        display: none;
    }
}