/* Profile page styles */

.patient-id-icon {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 4px;
}

.password-section .form-group {
  margin-bottom: 16px;
}

.password-section .form-group:last-child {
  margin-bottom: 0;
}
