<nav id="navbar" class="navbar">
    <div class="navbar-inner">
        <div class="navbar-left">
            <a href="../../index.html" class="logo">
                <span class="material-symbols-outlined logo-icon">add</span>
                <span class="logo-text">Healthy</span>
            </a>
        </div>
        <div class="navbar-center">
            <div class="nav-links">
                <a href="../../index.html">Home</a>
                <a href="../../Src/components/About_us/About_Us.html">About Us</a>
                <a href="../../Src/components/FAQs/FAQs.html">FAQs</a>
                <a href="../../Src/components/Contact/Contact.html">Contact Us</a>
            </div>
        </div>
        <div class="navbar-right">
            <button id="loginBtn" class="btn btn-outline">Login</button>
            <button id="registerBtn" class="btn btn-primary">Register</button>
        </div>
    </div>
</nav>
