<nav id="navbar">
    <div class="nav-left">
        <img src="../../Assests/images/logo.png" alt="Healthy Logo" class="nav-logo">
        <span class="brand">Healthy</span>
    </div>

    <ul class="nav-center">
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../AboutUs/AboutUs.html">About Us</a></li>
        <li><a href="../FAQs/FAQs.html">FAQs</a></li>
        <li><a href="../Contact/Contact.html">Contact Us</a></li>
    </ul>

    <div class="nav-right">
        <button id="loginBtn">Login</button>
        <button id="registerBtn" class="btn-primary">Register</button>
    </div>
</nav>
