.doctor-id-icon {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 4px;
}

.password-section .form-group {
  margin-bottom: 16px;
}

.password-section .form-group:last-child {
  margin-bottom: 0;
}

.avatar-lg {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-lg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #4f46e5;
  color: white;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.edit-btn:hover {
  background-color: #4338ca;
}

.edit-btn .material-symbols-outlined {
  font-size: 18px;
}
